﻿@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="container">
		<div class="row user-box">
			<div class="col-md-12 usersHead">
				<h2>Users</h2>
			</div>
			<div class="row pt-2 px-5">
				<div id="crud-btn" class="btn-group col-md-6" role="group" aria-label="Basic example">
					<button
						type="button"
						class="btn btn-secondary"
						v-on:click="createUser"
					>
						Add
					</button>
					<button
						type="button"
						class="btn btn-secondary"
						v-on:click="updateUser"
					>
						Edit
					</button>
					<button
						type="button"
						class="btn btn-secondary"
						v-on:click="deleteUser"
					>
						Delete
					</button>
				</div>
				<div class="row" id="userSelect">
					<div class="pt-2 col-6">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Username</th>
									<th scope="col">Departament</th>
								</tr>
							</thead>
							<tbody>
							<tr 
								v-for="(user, index) in users"
								v-on:click="selectedUser(user)"
							>
									<th scope="row">{{user.Id}}</th>
									<td>{{user.Name}}</td>
									<td>{{department(user.DepartmentId)}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
		<div class="row mt-5 user-box">
			<div class="col-md-12 usersHead">
				<h2>User</h2>
			</div>
			<div class="col-3"></div>
			<div id="userInput" class="input-group col-6 pt-2 mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
				</div>
				<input 
					type="hidden" 
					v-model="userId"
				/>
				<input 
					type="text" 
					class="form-control" 
					placeholder="Username" 
					aria-label="Username" 
					aria-describedby="basic-addon1"
					v-model="userName"
				>
			</div>
			<div class="col-3"></div>
			<div class="col-3"></div>
			<div class="dropdown col-6">
				<div id="departmentSelect">
					<select class="form-control userSelect"
							v-model="selected">
						<option value="" disabled selected>Departaments</option>
						<option
							v-for="depart in departments"
							v-bind:value="depart.id"
						>
							{{depart.name}}
						</option>
					</select>
				</div>
			</div>
			<div class="col-3"></div>

		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="~/js/users.js"></script>
</body>
</html>

