﻿.user-box{
	display: flex;
	justify-content: center;
	border:1px solid cornflowerblue;
	border-radius: 4px;
}
.usersHead {
	background-color: cornflowerblue;
	color: white;
	font-size: 14px;
	border-radius: 4px;
}
.btn-group button{
	background-color: dodgerblue;
}
.btn-group{
	padding-left:0;
}
.userSelect{
	width: 100%;
	margin-bottom: 20px;
}
input{
	border:none;
	background-color: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.fa-user-circle-o{
	color: gray;
}